
@import url(https://fonts.googleapis.com/css?family=Lato:400,700italic,700,400italic,300italic,300);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic,300italic,300);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;subset=devanagari,latin-ext);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	vertical-align: baseline;
	overflow-x: hidden;;
}
img.fullwidth {
	max-width: 100%;
	text-align: center;
	display: block;
	margin: 0 auto;
}
p img {
	max-width: 100%;
	text-align: center;
	display: block;
	margin: 0 auto;
}
p > strong > img {
	display: inline;
	text-align: left;
}
p > span img {
	display: inline;
	text-align: left;
	cursor: pointer;
}
 body {
 	min-height: 100%;
 	height: auto;
 	width: 100%;
 	font-family: 'Poppins', sans-serif;
 	font-size: 14px;
	background-color: #fff;
	margin: 0;
	padding: 0;
	color: #666;
 }
 .clear {
	 clear: both;
 }
 footer, header, section {
 	display: block;
 }
 a {
 	text-decoration: none;
 	cursor: pointer;
 }
 a:hover {
 	text-decoration: underline
 }
 p, ul, ol {
 	margin: 0;
	 padding: 0;
 }

 li.placeholder {
 	height: 70px;
 	width: 100%;
 	font-size: 16px;
 }
 hr {
 	display: block;
 	height: 0px;
 	line-height: 0px;
 	border: 0;
 	margin: 16px 0;
 	padding: 0;
 	clear: both;
 	float: none;
 	border-top: 1px solid #D4D4D4 !important;
 	border-bottom: 1px solid #FFFFFF !important;
 }
 hr.notop {
 	margin-top: 0;
 }
 strong {
 	font-weight: 700;
 }
 #documenter_buttons {
 	position: absolute;
 	right: 10px;
 	margin-top: -30px;
 }
 #documenter_content .column4{
	width: 25%;
	float: left;
	margin-right: 15px;
  }
  #documenter_content .column3 {
	width: 30%;
	float: left;
	margin-right: 15px;
  }
  #documenter_content .column2 {
	width: 48%;
	float: left;
	margin-right: 15px;
  }
  
 #documenter_content {
 	position: absolute;
 	left: 280px;
 	padding-left: 0px;
 	padding-bottom: 30px;
 	min-height: 100%;
 	height: auto;
 	z-index: 1;
	width: 80%;
	 overflow: hidden;
 }
#documenter_content header {
	background: #009ddc;
	padding: 35px 50px;
}
#documenter_content header h2 {
	font-size: 30px;
	font-weight: bold;
	color: white;
	margin: 0;
}
#documenter_content .doc-container {
	padding-left: 40px;
	padding-right: 20px;
}
 #documenter_sidebar {
 	-moz-box-shadow: 0 0 6px rgba(3, 3, 3, 0.6);
 	-webkit-box-shadow: 0 0 6px rgba(3, 3, 3, 0.6);
 	box-shadow: 0 0 6px rgba(3, 3, 3, 0.6);
 	position: fixed;
 	left: 0;
 	width: 300px;
 	z-index: 100;
	 height: 100%;
 }
 #documenter_sidebar a {
 	position: relative;
 	z-index: 100;
 }
 img {
 	border: 0;
 }
 #documenter_copyright {
 	position: absolute;
 	bottom: -60px;
 	font-size: 12px;
 	right: 15px;
 	width: 200px;
 	text-align: right;
 	z-index: 1;
 	display: block !important;
 	visibility: visible !important;
 }
 noscript {
 	display: block;
 	position: absolute;
 	top: 238px;
 	margin: 0 auto;
 	width: 800px;
 	bottom: 0;
 	z-index: 20;
 }
 noscript p {
 	width: 800px;
 	font-size: 20px;
 	padding-top: 20px;
 	margin: 0 auto;
 	color: #4D4D4D;
 }
 .small {
 	font-size: 10px;
 	letter-spacing: 0;
 }
 /*----------------------------------------------------------------------*/

/* Sidebar
/*----------------------------------------------------------------------*/

#documenter_sidebar {
	background-color: #fff;
	color: #000;
}
#documenter_sidebar #documenter_logo {
	display: block;
	max-height: 200px;
	min-height: 45px;
	width: 192px;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url(logo/logo.png);
	margin: 31px 20px;
}
#documenter_sidebar ul {
	min-height: 150px;
	/*border-top: 1px solid #212424;*/
	overflow: auto;
}

#documenter_sidebar ul li.sub-chapter a {
	padding-left: 25px;
}
.main-menu li a {
	display: block;
	border-top: 1px solid #eeeeee;
	color: #3e3e4a;
	padding: 12px 14px 9px 40px;
	text-align: left;
	font-size: 13px;
	font-weight: 600;

	text-decoration: none;
	text-transform: uppercase;
}
#documenter_sidebar ul a:hover,
#documenter_sidebar ul a.current,
#documenter_sidebar ul li.active > a {
	background: #009ddc;
	color: #fff;
}
#documenter_sidebar ul.sub-menu a:hover,
#documenter_sidebar ul.sub-menu a.current,
#documenter_sidebar ul.sub-menu li.active > a{
	background: transparent;
	color: #009ddc;
}

#documenter_nav li ul.sub-menu {
	border-top: 0;
	font-size: 10px;
	min-height: 10px;
	height: auto;
	overflow: auto;
	margin: 0;
	display: none;
	background: #f1f1f1;
}
#documenter_nav  li:hover ul.sub-menu {
	display: block;
}
#documenter_nav  li.active ul.sub-menu {
	display: block;
}
#documenter_nav li.open ul.sub-menu {
	display: block !important;
	
}
.main-nav {
	margin-bottom: 70px;
}
.main-menu li {
	position: relative;
}
.main-menu li a:hover .caret-down::after,
.main-menu li a.current .caret-down::after,
.main-menu li.active a .caret-down::after{
	color: #fff;
}
.main-menu li a .caret-down:after {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	 content: '\f107';
	 color: #009ddc;
}
.main-menu li a span {
	cursor: pointer;
    font-size: 15px;
    position: absolute;
    right: 20px;
    top: 10px;
}
.main-menu li ul.sub-menu a {
	 padding: 12px 15px 12px 50px !important;
	 font-size: 13px !important;
	 font-weight:400 !important;
	 border-top: 1px dotted #fff;
	 text-transform: inherit;
 }


/*----------------------------------------------------------------------*/

/* Content
/*----------------------------------------------------------------------*/

#documenter_cover {
	position: relative;
	height: 800px;
	padding-top: 200px !important;
}
#documenter_cover li {
	list-style: none !important;
	margin-left: 0 !important;
}
#documenter_cover p {
	width: 500px;
}
#documenter_content section {
	padding-top: 25px;
}
#documenter_content h1 {
	font-size: 30px;
	font-weight: 700;
}
#documenter_content h2 {
	font-size: 27px;
	margin-bottom: 18px;
	font-weight: 700;
}
#documenter_content h3 {
	font-size: 24px;
	margin: 0 0 30px;
	font-weight: 700;
	color: #009ddc;

}
#documenter_content h4 {
	font-size: 20px;
	margin: 18px 0;
	font-weight: 100;
}
#documenter_content h5 {
	font-size: 16px;
	margin: 18px 0;
	font-weight: 100;
}
#documenter_content h6 {
	font-size: 14px;
	margin: 18px 0;
	font-weight: 100;
}
#documenter_content p {
	margin: 0px 0 15px 0;
}
#documenter_content ol li {
	list-style: decimal;
	margin-left: 36px;
}
#documenter_content ul li {
	margin-bottom: 5px;
}
#documenter_content ul li ul li {
	list-style: square;
	margin-left: 10px;
}
#documenter_content dl {} #documenter_content dl dt {
	padding-top: 12px;
	font-weight: 700;
	font-size: 14px;
}
#documenter_content dl dd {
	padding-top: 3px;
	margin-left: 18px;
}
#documenter_content table {
	border-collapse: collapse;
}
#documenter_content table th {
	font-weight: 700;
}
#documenter_content table th, #documenter_content table td {
	padding: 3px;
	text-align: left;
}
#documenter_content code {
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
}
#documenter_content .warning {
	padding: 10px 10px 10px 30px;
	border: 1px solid #D5D458;
	background-color: #F0FEB1;
	background-image: url(img/warning.png);
	background-repeat: no-repeat;
	background-position: 8px 11px;
}
#documenter_content .info {
	padding: 10px 10px 10px 30px;
	border: 1px solid #6AB3FF;
	background-color: #A3D0FF;
	background-image: url(img/info.png);
	background-repeat: no-repeat;
	background-position: 8px 11px;
}
#documenter_content div.alert {
	padding: 8px 35px 8px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#documenter_content div.alert-success, #documenter_content div.alert-success div.alert-heading {
	color: #468847;
}
#documenter_content div.alert-danger, #documenter_content div.alert-error {
	background-color: #f2dede;
	border-color: #eed3d7;
}
#documenter_content div.alert-danger, #documenter_content div.alert-error, #documenter_content div.alert-danger div.alert-heading, #documenter_content div.alert-error div.alert-heading {
	color: #b94a48;
}
#documenter_content div.alert-info {
	background-color: #d9edf7;
	border-color: #bce8f1;
}
#documenter_content div.alert-info, #documenter_content div.alert-info div.alert-heading {
	color: #3a87ad;
}
#documenter_content div.alert-block {
	padding-top: 14px;
	padding-bottom: 14px;
}
#documenter_content div.alert-block > p, #documenter_content div.alert-block > ul {
	margin-bottom: 0;
}
#documenter_content div.alert-block p + p {
	margin-top: 5px;
}
/*----------------------------------------------------------------------*/

/* Print Styles
/*----------------------------------------------------------------------*/

@media print {
	* {
		background: transparent !important;
		color: black !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}
	/* Black prints faster: sanbeiji.com/archives/953 */

	a, a:visited {
		color: #444 !important;
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href)")";
	}
	abbr[title]:after {
		content: " (" attr(title)")";
	}
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
		content: "";
	}
	/* Don't show links for images, or javascript/internal links */

	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	/* css-discuss.incutio.com/wiki/Printing_Tables */

	tr, img {
		page-break-inside: avoid;
	}
	@page {
		margin: 0.5cm;
	}
	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}
	h2, h3 {
		page-break-after: avoid;
	}
	hr {
		border-top: 1px solid #000 !important;
		border-bottom: 0 !important;
	}
	#documenter_sidebar {
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		position: absolute;
		left: 10px;
		top: 0;
		width: 100%;
		margin-top: 500px;
	}
	#documenter_sidebar ul:before {
		content: "Table of Contents";
	}
	#documenter_sidebar ul {
		border: 0 !important;
	}
	#documenter_sidebar ul li {
		border: 0 !important;
		text-align: left;
	}
	#documenter_sidebar ul li a {
		border: 0 !important;
		text-align: left;
		padding: 4px;
	}
	#documenter_sidebar ul li a:hover {
		border: 0 !important;
	}
	#documenter_sidebar #documenter_logo {
		display: none;
	}
	#documenter_sidebar #documenter_copyright {
		display: none;
	}
	#documenter_content {
		left: 10px;
	}
	#documenter_cover {
		margin-bottom: 300px;
	}
	#documenter_content .warning {
		background-image: url(img/warning.png) !important;
		background-repeat: no-repeat !important;
		background-position: 8px 11px !important;
	}
	#documenter_content .info {
		background-image: url(img/info.png) !important;
		background-repeat: no-repeat !important;
		background-position: 8px 11px !important;
	}
}
.doc-container section {
	display: none;
}
.doc-container section.show {
	display: block !important;
}
span.span-style1 {
	font-weight: bold;
	color: #009ddc;
	font-style: italic;
}